<div class="vine ui-widget-content" data-id="<%= clip.id %>" style="top: <%= clip.top %>px; left: <%= clip.left %>px; position: absolute; z-index: <%= clip.z_index %>">
  <div class="btn-group controls">
    <a class="dropdown-toggle" data-toggle="dropdown" style="color: #149c82; font-size: 34px; cursor: pointer">
      <span class="glyphicon glyphicon-cog"></span>
    </a>
    
    <ul class="dropdown-menu pull-right" role="menu" style="padding: 8px">
      <li>
        <strong style="display: block">Opacity</strong>
        <div class="o-slider"></div>
      </li>
      <li>
        <strong style="display: block">Z-Index</strong>
        <div class="z-slider"></div>
      </li>

      <li>
        <%= button_to "Delete", clip_path(clip), :method => :delete, :remote => true, :class => "btn btn-danger btn-xs btn-block" %>
      </li>
    </ul>
  </div>

  <div class="video" style="opacity: <%= clip.opacity %>; ">
    <span class="play glyphicon glyphicon-play"></span>

    <video loop preload="auto" src="<%= clip.vine_video_url %>" style="width: <%= clip.width %>px; height: <%= clip.height %>px;"></video>
  </div>
</div>